export MODEL__URL=${MODEL__URL:-https://generativelanguage.googleapis.com/v1beta/openai}
export MODEL__NAME=${MODEL__NAME:-gemini-2.5-flash}
export MODEL__API_KEY=${GOOGLE_API_KEY}
export CHARACTER__NAME=Napoleon
