**/__pycache__/
.env
.mypy_cache/
.ruff_cache/
.venv/
logs/
results/
qdrant_storage/
assets/audio/
assets/video/
agno/
.vscode/settings.json
.devenv*
devenv.local.nix
devenv.local.yaml
.direnv
.pre-commit-config.yaml
*.py[cod]
assets/external/
.web
.states
*.db
.ruff.toml
.yamllint.yaml
.vscode/
