[project]
  authors = [
    { email = "mohamed.hisham.abdelzaher@gmail.com", name = "Mohamed Hisham Abdelzaher" },
  ]
  dependencies = [
    "agno[google,qdrant]>=2.3.21",
    "ddgs>=9.6.1",
    "fastembed>=0.7.3",
    "gradio[mcp]>=5.48.0",
    "m3u8>=6.0.0",
    "mem0ai>=0.1.118",
    "poml>=0.0.8",
    "rich>=14.1.0",
  ]
  description = "App part of the Chatacter Backend"
  name = "chattr"
  readme = "README.md"
  requires-python = ">=3.13, <3.14"
  version = "0.0.39"

  [project.scripts]
    chattr = "chattr.__main__:main"

[build-system]
  build-backend = "uv_build"
  requires = ["uv_build"]

[dependency-groups]
  dev = [
    "doppler-env>=0.3.1",
    "pytest-emoji>=0.2.0",
    "pytest-md>=0.2.0",
    "pytest-mergify>=2025.10.3.1",
    "ruff>=0.14.10",
    "ty>=0.0.1a20",
    "uv-build>=0.9.4",
  ]

[tool.ruff]
  extend = ".github/lint/.ruff.toml"
