[project]
name = "chattr"
version = "0.0.39"
description = "App part of the Chatacter Backend"
readme = "README.md"
authors = [
    { name = "Mohamed Hisham Abdelzaher", email = "mohamed.hisham.abdelzaher@gmail.com" },
]
requires-python = ">=3.13.7, <3.14"
dependencies = [
    "fastembed>=0.7.3",
    "gradio[mcp]>=5.48.0",
    "m3u8>=6.0.0",
    "mem0ai>=0.1.118",
]

  [project.scripts]
    chattr = "chattr.__main__:main"

[build-system]
  build-backend = "uv_build"
  requires = ["uv_build"]

[dependency-groups]
dev = [
    "pytest-emoji>=0.2.0",
    "pytest-md>=0.2.0",
    "pytest-mergify>=2025.9.24.2",
    "ruff>=0.13.3",
    "ty>=0.0.1a20",
]
