[project]
  authors = [
    { email = "mohamed.hisham.abdelzaher@gmail.com", name = "Mohamed Hisham Abdelzaher" },
  ]
  dependencies = [
    "agno[google,qdrant]>=2.5.3",
    "ddgs>=9.10.0",
    "fastembed>=0.7.4",
    "gradio[mcp]>=6.6.0",
    "m3u8>=6.0.0",
    "mem0ai>=1.0.4",
    "poml>=0.0.8",
    "rich>=14.3.3",
  ]
  description = "App part of the Chatacter Backend"
  name = "chattr"
  readme = "README.md"
  requires-python = ">=3.13,<3.14"
  version = "0.0.118"

  [project.scripts]
    chattr = "chattr.__main__:main"

[build-system]
  build-backend = "uv_build"
  requires = ["uv_build"]

[dependency-groups]
  dev = [
    "doppler-env>=0.3.1",
    "pre-commit>=4.5.1",
    "pytest-emoji>=0.2.0",
    "pytest-md>=0.2.0",
    "pytest-mergify>=2026.1.26.1",
    "ruff>=0.15.2",
    "ty>=0.0.15",
    "uv-build>=0.10.4",
  ]

[tool.ruff]
  extend = ".github/lint/.ruff.toml"
