name: Docker Image
on:
  workflow_call:
    inputs:
      is_test:
        type: boolean
        required: true
        description: Test Mode
      registry:
        type: string
        required: true
        description: Registry
      install_source:
        type: string
        required: true
        description: Source to install from (e.g., PyPI Package or Git source)
      app_name:
        type: string
        required: false
        description: Application Name
        default: ${{ github.event.repository.name }}
permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write
  actions: read
  security-events: write
jobs:
  check_dockerfile:
    name: Validate Dockerfile
    runs-on: ubuntu-latest
    if: ${{ inputs.is_test }}
    environment:
      name: code_quality
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.0
      - name: Log in to ${{ inputs.registry }} Registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ${{ inputs.registry }}
          username: mh0386
          password: ${{ inputs.registry == 'ghcr.io' && secrets.GH_TOKEN || inputs.registry == 'docker.io' && secrets.TOKEN_KEY_DOCKER }}
      - name: Validate build configuration
        uses: docker/build-push-action@v6.18.0
        with:
          call: check
      - name: Job Summary (Success)
        if: ${{ success() }}
        run: |
          echo "# Dockerfile Check" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "No issues found :heavy_check_mark:" >> $GITHUB_STEP_SUMMARY
      - name: Job Summary (Failure)
        if: ${{ failure() }}
        run: |
          echo "# Dockerfile Check" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "Check failed :x:" >> $GITHUB_STEP_SUMMARY
  build_image:
    name: Build and push Docker image to ${{ inputs.registry }}
    needs: check_dockerfile
    if: ${{ always() && !cancelled() && !failure() }}
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.tag.outputs.TAG }}
    environment:
      name: docker_image
      url: ${{inputs.registry}}/${{github.repository}}
    steps:
      - name: Free Disk Space
        uses: endersonmenezes/free-disk-space@v3.1.0
        with:
          remove_android: true
          remove_dotnet: true
          remove_haskell: true
          remove_tool_cache: true
          remove_swap: true
          remove_packages_one_command: true
          rm_cmd: rmz
          remove_folders: >-
            /usr/share /usr/local/lib  /usr/local/share
            /usr/local
      - name: Checkout repository
        uses: actions/checkout@v5.0.0
      - name: Get Python version from pyproject.toml
        id: get_python_version
        uses: mikefarah/yq@v4.48.1
        with:
          cmd: yq -roy '.project.requires-python' pyproject.toml
      - name: Log in to ${{ inputs.registry }} Registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ${{ inputs.registry }}
          username: mh0386
          password: ${{ inputs.registry == 'ghcr.io' && secrets.GH_TOKEN || inputs.registry == 'docker.io' && secrets.TOKEN_KEY_DOCKER }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.7.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5.10.0
        with:
          images: ${{ inputs.registry }}/${{ github.repository }}
          tags: |
            type=raw,value=latest,enable=${{ github.event_name == 'push' && contains(github.ref, 'refs/tags/') }}
            type=ref,event=pr,prefix={{sha}}-pr-
            type=ref,event=tag
            type=ref,event=branch
      - name: Build and Push to ${{ inputs.registry }}
        uses: docker/build-push-action@v6.18.0
        id: push
        with:
          push: true
          sbom: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          annotations: ${{ steps.meta.outputs.annotations }}
          build-args: |
            INSTALL_SOURCE=${{ inputs.install_source }}
            PYTHON_VERSION=${{ steps.get_python_version.outputs.result }}
        env:
          DOCKER_CONTENT_TRUST: '1'
      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3.1.0
        if: ${{ inputs.is_test == false }}
        with:
          subject-name: ${{ inputs.registry == 'docker.io' && 'index.docker.io' || inputs.registry }}/${{github.repository}}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true
      - name: Update Docker Hub Description
        if: ${{ inputs.registry == 'docker.io' }}
        uses: peter-evans/dockerhub-description@v5.0.0
        with:
          username: mh0386
          password: ${{ secrets.TOKEN_KEY_DOCKER }}
          repository: ${{ github.repository }}
          short-description: ${{ github.event.repository.description }}
          enable-url-completion: true
      - name: Export tag for Testing and Scanning
        id: tag
        run: echo "TAG=$(echo "${{ steps.meta.outputs.tags }}" | tail -n 1)" >> $GITHUB_OUTPUT
  docker_scout:
    name: Docker Scout CVEs
    needs: build_image
    runs-on: ubuntu-latest
    environment:
      name: container_health
    steps:
      - name: Docker Scout
        uses: docker/scout-action@v1.18.2
        with:
          command: cves
          dockerhub-user: mh0386
          dockerhub-password: ${{ secrets.TOKEN_KEY_DOCKER }}
          image: ${{ needs.build_image.outputs.image_tag }}
          github-token: ${{ secrets.GH_TOKEN }}
  trufflehog:
    name: TruffleHog
    runs-on: ubuntu-latest
    needs: build_image
    environment:
      name: container_health
    steps:
      - name: Install trufflehog
        uses: jaxxstorm/action-install-gh-release@v1.10.0
        with:
          repo: trufflesecurity/trufflehog
          cache: enable
      - name: Docker Secret Scanning
        run: >-
          trufflehog docker --image ${{needs.build_image.outputs.image_tag}}
          --fail --github-actions --results=verified --log-level=4 --no-update
  syft:
    name: Syft
    runs-on: ubuntu-latest
    needs: build_image
    environment:
      name: container_health
    permissions:
      contents: write
    steps:
      - name: SBOM Generation
        uses: anchore/sbom-action@v0.20.10
        with:
          image: ${{ needs.build_image.outputs.image_tag }}
          dependency-snapshot: true
          output-file: ${{ github.event.repository.name }}-sbom.json
          format: syft-json
  grype:
    name: Grype
    needs: build_image
    runs-on: ubuntu-latest
    environment:
      name: container_health
    steps:
      - name: Scan image
        uses: anchore/scan-action@v7.2.2
        id: scan
        with:
          image: ${{ needs.build_image.outputs.image_tag }}
          cache-db: true
      - name: upload Anchore scan SARIF report
        if: success() || failure()
        uses: github/codeql-action/upload-sarif@v4.31.7
        with:
          sarif_file: ${{ steps.scan.outputs.sarif }}
  trivy:
    name: Trivy
    needs: build_image
    runs-on: ubuntu-latest
    environment:
      name: container_health
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.0.0
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: ${{ needs.build_image.outputs.image_tag }}
          trivy-config: .github/lint/.trivy.yaml
          format: sarif
          output: trivy-results-image.sarif
          exit-code: '1'
          scanners: vuln,secret,misconfig,license
      - name: Upload Trivy scan results to GitHub Security tab
        if: success() || failure()
        uses: github/codeql-action/upload-sarif@v4.31.7
        with:
          sarif_file: trivy-results-image.sarif
  dockle:
    name: Dockle
    needs: build_image
    runs-on: ubuntu-latest
    environment:
      name: container_health
    steps:
      - name: Lint the Container Image
        uses: goodwithtech/dockle-action@v0.4.15
        with:
          image: ${{ needs.build_image.outputs.image_tag }}
          format: sarif
          output: dockle.sarif
          accept-file: settings.py
          accept-key: --chmod,--chown,GRADIO_SERVER_PORT,GRADIO_SERVER_NAME,FASTEMBED_CACHE_PATH,PATH
          ignore: CIS-DI-0006
      - name: upload Dockle scan SARIF report
        if: success() || failure()
        uses: github/codeql-action/upload-sarif@v4.31.7
        with:
          sarif_file: dockle.sarif
  api_test:
    name: API Test
    needs: build_image
    runs-on: ubuntu-latest
    if: ${{ inputs.is_test }}
    environment:
      name: container_health
    services:
      vector_database:
        image: qdrant/qdrant:latest
        ports:
          - 6333:6333
      app:
        image: ${{ needs.build_image.outputs.image_tag }}
        ports:
          - 7860:7860
        env:
          MODEL__URL: https://api.groq.com/openai/v1
          MODEL__API_KEY: ${{ secrets.GROQ_API_KEY }}
          MODEL__NAME: llama3-70b-8192
          VECTOR_DATABASE__URL: http://vector_database:6333
          VECTOR_DATABASE__NAME: test
        options: >-
          --health-cmd "curl -o /dev/null -f -s -w 'Status: %{http_code}, Time: %{time_total}s'
          http://localhost:7860/" --health-interval 10s --health-timeout
          10s --health-start-period 20s --health-retries 15
    steps:
      - name: Echo URL
        run: echo "${{ inputs.app_name }} available on localhost:${{ job.services.app.ports['7860'] }}"
      - name: Checkout repository
        uses: actions/checkout@v5.0.0
      - name: Install uv
        uses: astral-sh/setup-uv@v6.0.0
        with:
          enable-cache: true
          activate-environment: true
      - name: Install deps
        run: uv sync --only-dev
      - name: Test
        uses: pavelzw/pytest-action@v2.2.0
        with:
          click-to-expand: false
          custom-arguments: tests/test_app.py::test_app -p no:warnings
        env:
          MERGIFY_TOKEN: ${{ secrets.MERGIFY_TOKEN }}
  clean:
    name: Cleaning GHCR
    needs:
      - api_test
      - docker_scout
      - dockle
      - trivy
      - grype
      - syft
      - trufflehog
    if: ${{ inputs.registry == 'ghcr.io' }}
    runs-on: ubuntu-latest
    environment:
      name: docker_image
    steps:
      - name: GHCR Cleaning
        uses: snok/container-retention-policy@v3.0.1
        with:
          account: ${{ github.repository_owner }}
          token: ${{ secrets.GH_TOKEN }}
          image-names: ${{ github.event.repository.name }}
          image-tags: '!latest !*.*.*'
          cut-off: 1s
