name: Lint
on:
  workflow_call:
permissions:
  contents: write
  pull-requests: write
  checks: write
  security-events: write
  actions: read
jobs:
  trufflehog:
    name: TruffleHog
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Git Secret Scanning
        uses: trufflesecurity/trufflehog@v3.91.1
        with:
          base: ''
          head: ${{github.head_ref || github.ref_name}}
          extra_args: --results=verified,unknown --log-level=4
  pre-commit:
    name: pre-commit
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e  # v6
        with:
          enable-cache: true
          cache-dependency-glob: uv.lock
          activate-environment: true
      - name: Install the project
        run: uv sync --frozen --only-dev
      - uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
          restore-keys: pre-commit-
      - run: pre-commit run --show-diff-on-failure --color=always --all-files
        continue-on-error: true
      - uses: pre-commit-ci/lite-action@v1.1.0
  uv_lock:
    name: UV Lock Check
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e  # v6
        with:
          enable-cache: true
          cache-dependency-glob: uv.lock
          activate-environment: true
      - name: Check if the lockfile is up-to-date
        run: uv lock --check
      - name: Job Summary (Success)
        if: ${{ success() }}
        run: |
          echo "# UV Lock Check" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "No issues found :heavy_check_mark:" >> $GITHUB_STEP_SUMMARY
      - name: Job Summary (Failure)
        if: ${{ failure() }}
        run: |
          echo "# UV Lock Check" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "Check failed :x:" >> $GITHUB_STEP_SUMMARY
  ls_lint:
    name: ls-lint
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    steps:
      - uses: actions/checkout@v4
      - uses: ls-lint/action@v2
        with:
          config: .github/lint/.ls-lint.yaml
  ruff_format:
    name: Ruff Format
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_TOKEN }}
      - name: Format
        uses: astral-sh/ruff-action@v3.5.1
        with:
          args: format --output-format github --config .github/lint/.ruff.toml
      - name: Commit and push applied linter fixes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: '[Ruff] Apply linters fixes'
          commit_options: --no-verify
  yamlfix:
    name: YamlFix
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_TOKEN }}
      - name: Install uv
        uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e  # v6
        with:
          enable-cache: true
          cache-dependency-glob: uv.lock
          activate-environment: true
      - name: Install the project
        run: uv sync --frozen --only-dev
      - name: Format
        run: yamlfix --config-file .github/lint/.yamlfix.toml .
      - name: Commit and push applied linter fixes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: '[YamlFix] Apply linters fixes'
          commit_options: --no-verify
  yamllint:
    name: YamlLint
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e  # v6
        with:
          enable-cache: true
          cache-dependency-glob: uv.lock
          activate-environment: true
      - name: Check
        run: uvx yamllint . --strict -c=.github/lint/.yamllint.yaml --format github
  syft:
    name: Syft
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: SBOM Generation
        uses: anchore/sbom-action@v0.20.10
        with:
          path: .
          dependency-snapshot: true
          output-file: ${{ github.event.repository.name }}-sbom.json
          format: syft-json
  grype:
    name: Grype
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e  # v6
        with:
          enable-cache: true
          cache-dependency-glob: uv.lock
          activate-environment: true
      - name: Export requirements to requirements.txt
        run: >
          uv export --quiet --no-hashes --format requirements.txt --output-file requirements.txt
      - name: Scan current project
        uses: anchore/scan-action@v7.2.1
        id: scan
        with:
          path: .
          cache-db: true
      - name: upload Anchore scan SARIF report
        if: success() || failure()
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: ${{ steps.scan.outputs.sarif }}
  trivy:
    name: Trivy ${{ matrix.name }}
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    strategy:
      fail-fast: false
      matrix:
        scan-type:
          - repo
          - config
          - fs
        include:
          - scan-type: repo
            format: sarif
            output: trivy-results-repo.sarif
            name: Repo
          - scan-type: config
            format: sarif
            output: trivy-results-config.sarif
            name: IaC
          - scan-type: fs
            format: github
            output: dependency-results.sbom.json
            name: SBOM
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5
      - name: Run Trivy vulnerability scanner in repo mode
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: ${{ matrix.scan-type }}
          format: ${{ matrix.format }}
          output: ${{ matrix.output }}
          github-pat: ${{ secrets.GH_TOKEN }}
          exit-code: '1'
          scanners: vuln,secret,misconfig,license
      - name: Upload Trivy scan results to GitHub Security tab
        if: matrix.scan-type != 'fs' && ( success() || failure() )
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: ${{ matrix.output }}
          category: ${{ matrix.scan-type }}
      - name: Upload trivy report as a Github artifact
        if: matrix.scan-type == 'fs' && ( success() || failure() )
        uses: actions/upload-artifact@v4
        with:
          name: trivy-sbom-report
          path: ${{ matrix.output }}
  bandit:
    name: Bandit
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    steps:
      - name: Perform Bandit Analysis
        uses: PyCQA/bandit-action@v1.0.1
        with:
          configfile: .github/lint/.bandit.yaml
  dclint:
    name: DCLint
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    steps:
      - uses: actions/checkout@v4
      - uses: docker-compose-linter/dclint-github-action@v1.6.0
        with:
          fix: true
          recursive: true
  ty:
    name: Ty
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5
        with:
          token: ${{ secrets.GH_TOKEN }}
      - name: Install uv
        uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e  # v6
        with:
          enable-cache: true
          cache-dependency-glob: uv.lock
          activate-environment: true
      - name: Install the project
        run: uv sync --frozen
      - name: Check
        run: ty check --output-format github
  ruff:
    name: Ruff
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Check
        uses: astral-sh/ruff-action@v3.5.1
        with:
          args: check --output-format sarif --output-file ruff.sarif --config .github/lint/.ruff.toml
      - name: upload Ruff scan SARIF report
        if: success() || failure()
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: ruff.sarif
  markdownlint:
    name: MarkdownLint
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - uses: DavidAnson/markdownlint-cli2-action@v21
        with:
          globs: '**/*.md'
          config: .github/lint/.markdownlint.yaml
          fix: true
