name: Lint
on:
  workflow_call:
permissions:
  contents: write
  pull-requests: write
  checks: write
jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    permissions:
      contents: write
      pull-requests: write
      checks: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          token: ${{ secrets.GH_TOKEN }}
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/python@v1.0.0
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --sarif-file-output=snyk.sarif
      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: snyk.sarif
