name: Lint
on:
  workflow_call:
permissions:
  contents: write
  pull-requests: write
  checks: write
  security-events: write
  actions: read
jobs:
  taplo:
    name: Taplo ${{ matrix.command }}
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    strategy:
      fail-fast: false
      matrix:
        command:
          - format
          - lint
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.0.0
      - name: Install taplo
        uses: baptiste0928/cargo-install@v3.3.2
        with:
          crate: taplo-cli
          locked: true
      - name: ${{ matrix.command }}
        run: >
          taplo ${{matrix.command}}
          --config .github/lint/.taplo.toml
          ${{matrix.command == 'lint' && '--default-schema-catalogs' || ''}}
      - name: Commit and push applied formatter fixes
        if: matrix.command == 'format'
        uses: stefanzweifel/git-auto-commit-action@v7.0.0
        with:
          commit_message: '[Taplo] Apply formatter fixes'
          commit_options: --no-verify
  trufflehog:
    name: TruffleHog
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.0.0
        with:
          fetch-depth: 0
      - name: Install trufflehog
        uses: jaxxstorm/action-install-gh-release@v1.10.0
        with:
          repo: trufflesecurity/trufflehog
          cache: enable
      - name: Git Secret Scanning
        run: >
          trufflehog git ${{github.event.repository.html_url}} --branch=${{github.head_ref || github.ref_name}}
          --fail --github-actions --results=verified,unknown --log-level=4 --no-update
  pre-commit:
    name: pre-commit
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.0
      - name: Install uv
        uses: astral-sh/setup-uv@v6.0.0
        with:
          enable-cache: true
          cache-dependency-glob: uv.lock
          activate-environment: true
      - name: Restore pre-commit cache
        uses: actions/cache/restore@v5.0.1
        id: cache-restore
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-${{ hashFiles('**/.pre-commit-config.yaml') }}
          restore-keys: pre-commit-
      - name: Run pre-commit hooks
        run: uvx pre-commit run --show-diff-on-failure --color=always --all-files
      - name: Save pre-commit cache
        uses: actions/cache/save@v5.0.1
        if: always() && steps.cache-restore.outputs.cache-hit != 'true'
        with:
          path: ~/.cache/pre-commit
          key: ${{ steps.cache-restore.outputs.cache-primary-key }}
      - name: Run pre-commit-ci-lite
        uses: pre-commit-ci/lite-action@v1.1.0
        if: always()
  uv_lock:
    name: UV Lock Check
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.0.0
      - name: Install uv
        uses: astral-sh/setup-uv@v6.0.0
        with:
          enable-cache: true
          cache-dependency-glob: uv.lock
          activate-environment: true
      - name: Check if the lockfile is up-to-date
        run: uv lock --check
      - name: Job Summary (Success)
        if: ${{ success() }}
        run: |
          echo "# UV Lock Check" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "No issues found :heavy_check_mark:" >> $GITHUB_STEP_SUMMARY
      - name: Job Summary (Failure)
        if: ${{ failure() }}
        run: |
          echo "# UV Lock Check" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "Check failed :x:" >> $GITHUB_STEP_SUMMARY
  ls_lint:
    name: ls-lint
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.0.0
      - uses: ls-lint/action@v2.3.1
        with:
          config: .github/lint/.ls-lint.yaml
  ruff:
    name: Ruff ${{ matrix.command }}
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    strategy:
      fail-fast: false
      matrix:
        command:
          - check
          - format
        include:
          - command: check
            output: sarif
          - command: format
            output: github
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.0.0
        with:
          token: ${{ secrets.GH_TOKEN }}
      - name: ${{ matrix.command }}
        uses: astral-sh/ruff-action@v3.5.1
        with:
          args: >-
            ${{ matrix.command }} --config .github/lint/.ruff.toml
            --output-format ${{matrix.output}}
            ${{matrix.output == 'sarif' && '--output-file ruff.sarif' || ''}}
      - name: upload Ruff scan SARIF report
        if: matrix.output == 'sarif' && ( success() || failure() )
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: ruff.sarif
      - name: Commit and push applied Ruff fixes
        if: matrix.output == 'github'
        uses: stefanzweifel/git-auto-commit-action@v7.0.0
        with:
          commit_message: '[Ruff] Apply format fixes'
          commit_options: --no-verify
  yamlfix:
    name: YamlFix
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.0.0
        with:
          token: ${{ secrets.GH_TOKEN }}
      - name: Install uv
        uses: astral-sh/setup-uv@v6.0.0
        with:
          enable-cache: true
          cache-dependency-glob: uv.lock
          activate-environment: true
      - name: Format
        run: uvx yamlfix . --config-file .github/lint/.yamlfix.toml
      - name: Commit and push applied linter fixes
        uses: stefanzweifel/git-auto-commit-action@v7.0.0
        with:
          commit_message: '[YamlFix] Apply linters fixes'
          commit_options: --no-verify
  yamllint:
    name: YamlLint
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.0.0
      - name: Install uv
        uses: astral-sh/setup-uv@v6.0.0
        with:
          enable-cache: true
          cache-dependency-glob: uv.lock
          activate-environment: true
      - name: Check
        run: uvx yamllint . --strict -c=.github/lint/.yamllint.yaml --format github
  syft:
    name: Syft
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.0.0
      - name: SBOM Generation
        uses: anchore/sbom-action@v0.20.10
        with:
          path: .
          dependency-snapshot: true
          output-file: ${{ github.event.repository.name }}-sbom.json
          format: syft-json
  grype:
    name: Grype
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.0.0
      - name: Scan current project
        uses: anchore/scan-action@v7.2.1
        id: scan
        with:
          path: .
          cache-db: true
      - name: upload Anchore scan SARIF report
        if: success() || failure()
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: ${{ steps.scan.outputs.sarif }}
  trivy:
    name: Trivy ${{ matrix.name }}
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    strategy:
      fail-fast: false
      matrix:
        scan-type:
          - repo
          - config
          - fs
        include:
          - scan-type: repo
            format: sarif
            output: trivy-results-repo.sarif
            name: Repo
          - scan-type: config
            format: sarif
            output: trivy-results-config.sarif
            name: IaC
          - scan-type: fs
            format: github
            output: dependency-results.sbom.json
            name: SBOM
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.0
      - name: Run Trivy vulnerability scanner in repo mode
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: ${{ matrix.scan-type }}
          trivy-config: .github/lint/.trivy.yaml
          format: ${{ matrix.format }}
          output: ${{ matrix.output }}
          github-pat: ${{ secrets.GH_TOKEN }}
          exit-code: '1'
          scanners: vuln,secret,misconfig,license
      - name: Upload Trivy scan results to GitHub Security tab
        if: matrix.scan-type != 'fs' && ( success() || failure() )
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: ${{ matrix.output }}
          category: ${{ matrix.scan-type }}
      - name: Upload trivy report as a Github artifact
        if: matrix.scan-type == 'fs' && ( success() || failure() )
        uses: actions/upload-artifact@v6.0.0
        with:
          name: trivy-sbom-report
          path: ${{ matrix.output }}
  bandit:
    name: Bandit
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    steps:
      - name: Perform Bandit Analysis
        uses: PyCQA/bandit-action@v1.0.1
        with:
          configfile: .github/lint/.bandit.yaml
  dclint:
    name: DCLint
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.0.0
      - uses: docker-compose-linter/dclint-github-action@v1.6.0
        with:
          fix: true
          recursive: true
  ty:
    name: Ty
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.0
        with:
          token: ${{ secrets.GH_TOKEN }}
      - name: Install uv
        uses: astral-sh/setup-uv@v6.0.0
        with:
          enable-cache: true
          cache-dependency-glob: uv.lock
          activate-environment: true
      - name: Check
        run: uvx ty check --output-format github
  markdownlint:
    name: MarkdownLint
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.0.0
      - uses: DavidAnson/markdownlint-cli2-action@v22.0.0
        with:
          globs: '**/*.md'
          config: .github/lint/.markdownlint.yaml
          fix: true
  hadolint:
    name: Hadolint
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.0.0
      - uses: hadolint/hadolint-action@v3.1.0
        with:
          config: .github/lint/.hadolint.yaml
          format: sarif
          output-file: hadolint.sarif
      - name: upload Hadolint scan SARIF report
        if: success() || failure()
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: hadolint.sarif
  actionlint:
    name: ActionLint
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.0.0
      - name: Install actionlint
        uses: jaxxstorm/action-install-gh-release@v1.10.0
        with:
          repo: rhysd/actionlint
          cache: enable
      - name: Download actionlint-matcher.json
        run: >-
          curl -fsSL https://raw.githubusercontent.com/rhysd/actionlint/main/.github/actionlint-matcher.json
          -o .github/actionlint-matcher.json
      - name: Run actionlint
        run: |-
          echo "::add-matcher::.github/actionlint-matcher.json"
          actionlint -color
