name: Lint
on:
  workflow_call:
permissions:
  contents: write
  pull-requests: write
  checks: write
jobs:
  bandit:
    name: Bandit
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    permissions:
      contents: read
      security-events: write
      actions: read
    steps:
      - uses: actions/checkout@v4
      - name: Bandit Scan
        uses: shundor/python-bandit-scan@v1.0
        with:
          exit_zero: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  dclint:
    name: DCLint
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    steps:
      - uses: actions/checkout@v4
      - uses: docker-compose-linter/dclint-github-action@v1.6.0
        with:
          fix: true
          recursive: true
  ty:
    name: Ty
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          token: ${{ secrets.GH_TOKEN }}
      - name: Install uv
        uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e # v6
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
          activate-environment: true
      - name: Install the project
        run: uv sync --frozen
      - name: Check
        run: ty check --output-format github
  ruff:
    name: Ruff
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Check
        uses: astral-sh/ruff-action@v3.5.1
        with:
          args: check . --output-format=github --config .github/lint/.ruff.toml
