name: CI Tools
on:
  push:
    paths:
      - uv.lock
      - pyproject.toml
  issue_comment:
    types:
      - created
      - edited
  workflow_dispatch:
permissions:
  id-token: write
  contents: read
  pull-requests: read
  issues: read
jobs:
  opencode:
    if: |
      github.event_name == 'issue_comment' &&
      (
        contains(github.event.comment.body, ' /oc') ||
        startsWith(github.event.comment.body, '/oc') ||
        contains(github.event.comment.body, ' /opencode') ||
        startsWith(github.event.comment.body, '/opencode')
      )
    name: Opencode
    runs-on: ubuntu-latest
    environment:
      name: ai_agent
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Run opencode
        uses: sst/opencode/github@v1.0.122
        env:
          OPENCODE_API_KEY: ${{ secrets.OPENCODE_API_KEY }}
        with:
          model: opencode/grok-code
  uv_lock_sync:
    if: |
      github.event_name == 'push' ||
      github.event_name == 'workflow_dispatch' ||
      (
        github.event_name == 'issue_comment' &&
        (
          contains(github.event.comment.body, ' /uv-lock-sync') ||
          startsWith(github.event.comment.body, '/uv-lock-sync')
        )
      )
    name: UV Lock Sync
    runs-on: ubuntu-latest
    environment:
      name: lockfile
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e # v6
        with:
          enable-cache: true
          cache-dependency-glob: uv.lock
          activate-environment: true
      - name: Sync dependencies and uv.lock
        run: uv lock
      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@778341af668090896ca464160c2def5d1d1a3eb0 # v6
        with:
          commit_message: Sync uv.lock
          commit_options: --no-verify
