name: CI Tools
on:
  issue_comment:
    types:
      - created
      - edited
  schedule:
    - cron: 0 6 * * *
  push:
    branches:
      - main
    paths:
      - .trunk/trunk.yaml
  workflow_dispatch:
permissions: read-all
jobs:
  trunk_upgrade:
    name: Upgrade Trunk
    runs-on: ubuntu-latest
    if: github.event_name == 'schedule'
    permissions:
      contents: write
      pull-requests: write
      issues: write
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5
      - name: Trunk Upgrade
        uses: trunk-io/trunk-action/upgrade@75699af9e26881e564e9d832ef7dc3af25ec031b  # v1
  cache_trunk:
    name: Cache Trunk
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    permissions:
      actions: write
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5
      - name: Trunk Cache
        uses: trunk-io/trunk-action@75699af9e26881e564e9d832ef7dc3af25ec031b  # v1
        with:
          check-mode: populate_cache_only
  opencode:
    if: |
      github.event_name == 'issue_comment' &&
      (
        contains(github.event.comment.body, ' /oc') ||
        startsWith(github.event.comment.body, '/oc') ||
        contains(github.event.comment.body, ' /opencode') ||
        startsWith(github.event.comment.body, '/opencode')
      )
    name: Opencode
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      pull-requests: read
      issues: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Run opencode
        uses: sst/opencode/github@latest
        env:
          OPENCODE_API_KEY: ${{ secrets.OPENCODE_API_KEY }}
        with:
          model: opencode/grok-code
