name: CI Tools
on:
  issue_comment:
    types:
      - created
      - edited
  workflow_dispatch:
permissions:
  id-token: write
  contents: write
  pull-requests: read
  issues: read
jobs:
  opencode:
    if: |
      github.event_name == 'issue_comment' &&
      (
        contains(github.event.comment.body, ' /oc') ||
        startsWith(github.event.comment.body, '/oc') ||
        contains(github.event.comment.body, ' /opencode') ||
        startsWith(github.event.comment.body, '/opencode')
      )
    name: Opencode
    runs-on: ubuntu-latest
    environment:
      name: ai_agent
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Run opencode
        uses: sst/opencode/github@v1.0.122
        env:
          OPENCODE_API_KEY: ${{ secrets.OPENCODE_API_KEY }}
        with:
          model: opencode/grok-code
  uv_lock_sync:
    if: |
      github.event_name == 'workflow_dispatch' ||
      (
        github.event_name == 'issue_comment' &&
        (
          contains(github.event.comment.body, ' /uv-lock-sync') ||
          startsWith(github.event.comment.body, '/uv-lock-sync')
        )
      )
    name: UV Lock Sync
    runs-on: ubuntu-latest
    environment:
      name: lockfile
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.0.0
        with:
          token: ${{ secrets.GH_TOKEN }}
      - name: Install uv
        uses: astral-sh/setup-uv@v6.0.0
        with:
          enable-cache: true
          activate-environment: true
      - name: Sync dependencies and uv.lock
        run: uv lock
      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v7.0.0
        with:
          commit_message: Sync uv.lock
          commit_options: --no-verify
