name: Test
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true
permissions: read-all
jobs:
  compatibility:
    name: Check Dependency Compatibility
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    permissions:
      checks: write
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.0
      - name: Install uv
        uses: astral-sh/setup-uv@v6.0.0
        with:
          enable-cache: true
          activate-environment: true
      - name: Install the project
        id: dependency_check
        run: uv sync --frozen --no-install-project
      - name: Job Summary
        uses: jazanne/job-summary-action@v1.0.0
        if: success() || failure()
        with:
          summary: |
            
            ## Dependency Compatibility Check
              - **Status**: ${{ steps.dependency_check.outcome == 'success' && ':white_check_mark:' || ':x:' }}
              - **Details**: See above for the dependency tree.
            <details>
              <summary> Dependency Tree </summary>
              # Dependency Tree
              $(uv tree)
            </details>
  lint:
    name: Lint
    permissions:
      contents: write
      pull-requests: write
      checks: write
      security-events: write
      actions: read
    needs: compatibility
    uses: ./.github/workflows/.lint.yaml
    secrets: inherit
  image:
    name: Test Image
    permissions:
      contents: write
      packages: write
      attestations: write
      id-token: write
      security-events: write
      actions: read
    needs: compatibility
    uses: ./.github/workflows/.docker.yaml
    with:
      is_test: true
      registry: ghcr.io
      install_source: git+${{ github.event.repository.html_url }}@${{ github.sha }}
    secrets: inherit
