name: Test
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true
permissions: read-all
jobs:
  compatibility:
    name: Check Dependency Compatibility
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    permissions:
      checks: write
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          enable-cache: true
          activate-environment: true
      - name: Install the project
        id: dependency_check
        run: uv sync --frozen --no-install-project
      - name: Job Summary
        uses: jazanne/job-summary-action@690eb386a0b86fe4da7c6f0e543e61330ff09f06 # v1.0.0
        if: success() || failure()
        with:
          summary: |-
            ## Dependency Compatibility Check
              - **Status**: ${{ steps.dependency_check.outcome == 'success' && ':white_check_mark:' || ':x:' }}
      - name: Show Dependency Tree
        if: steps.dependency_check.outcome == 'success'
        run: |
          echo "## Dependency Tree" >> $GITHUB_STEP_SUMMARY
          echo "<details>" >> $GITHUB_STEP_SUMMARY
          echo "<summary> Dependency Tree </summary>" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
          echo "$(uv tree --show-sizes)" >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
          echo "</details>" >> $GITHUB_STEP_SUMMARY
  lint:
    name: Lint
    permissions:
      contents: write
      pull-requests: write
      checks: write
      security-events: write
      actions: read
    needs: compatibility
    uses: ./.github/workflows/.lint.yaml
    secrets: inherit
  image:
    name: Test Image
    permissions:
      contents: write
      packages: write
      attestations: write
      id-token: write
      security-events: write
      actions: read
    needs: compatibility
    uses: ./.github/workflows/.docker.yaml
    with:
      is_test: true
      registry: ghcr.io
      install_source: git+${{ github.event.repository.html_url }}@${{ github.sha }}
    secrets: inherit
